################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Main/ClientApp/.angular/cache/13.3.4
/Client/bin/Debug/net6.0
/Client/obj
