################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Main/ClientApp/.angular/cache/13.3.4
/Client/bin/Debug/net6.0
/Client/obj
/Client/bin/Debug/net5.0
/Client/bin/Debug/netcoreapp3.1
/Client/det-app/.vscode
