<div class="app-document__body" *ngIf="isReady">
  <div class="app-document__alert alert alert-warning" role="alert" *ngIf="isMessageShown">
    <span>Document loading error!</span>
    <button type="button" class="btn btn-primary btn-sm" (click)="loadItems()">Click here to try again!</button>
  </div>

  <div class="app-document__grids" *ngIf="areItemsShown">
    <dx-data-grid [dataSource]="itemsSource.items" [focusedRowEnabled]="true" keyExpr="id_pos">
      <dxo-row-dragging group="documentGrid" [onAdd]="onItemAdd" [onRemove]="onItemRemove"></dxo-row-dragging>
    </dx-data-grid>

    <dx-data-grid [dataSource]="selectedItemsSource.items" keyExpr="id_pos" [focusedRowEnabled]="true">
      <dxo-row-dragging group="documentGrid" [onAdd]="onSelectedItemAdd" [onRemove]="onSelectedItemRemove"></dxo-row-dragging>
    </dx-data-grid>
  </div>
</div>

<div class="app-document__spinner spinner-border text-primary" role="status" *ngIf="!isReady"></div>
